<aside class="">
  <header>
    <h1><img alt="{{title}}"></h1>
  </header>
  <nav>
    <a [routerLink]="[ '/home' ]" routerLinkActive="active">Home</a>
    <!-- <a [routerLink]="[ '/summary/month' ]" routerLinkActive="active" >Monthly Budget</a>
        <a [routerLink]="[ '/summary/annual' ]" routerLinkActive="active"> Annual Budget</a> -->
    <a [routerLink]="[ '/settings' ]" routerLinkActive="active">Settings</a>
  </nav>
</aside>
<section class="content mb-blue">
  <router-outlet></router-outlet>
</section>